<?xml version="1.0"?>
<config>
	<app framerate_cap="">
		<title>Pathfinding Test</title>
		<organization>UPC</organization>
	</app>
	<renderer>
		<vsync value="true" />
	</renderer>
	<font>
		<default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12" />
	</font>
	<gui>
		<atlas file="gui/82158.png" />
	</gui>
  
	<player>
		<atlas file="textures/LINK.png"/>
		<day-night file="gui/test.png" />
		<stats hp="100" attack="10" />
	</player>
  
  <items>
    <item id ="1" name="bomb" type="ZELDA" attack="100" durability="1" file="gui/sf2.png"/>
    <item id ="2" name="bomb_2" type="ZELDA" attack="100" durability="1" file="gui/sf2.png"/>
  </items>

  <enemies>
    <enemy id="1" pos_x="100" pos_y="300" hp="10" attack="10" file="gui/sf2.png"/>
    <enemy id="2" pos_x="100" pos_y="300" hp="20" attack="10" file="gui/sf2.png"/>

  </enemies>
  
	<window>
		<resolution width="1300" height="800" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<file_system>
		<path>data.zip</path>
	</file_system>
	<map>
		<folder>maps/</folder>
	</map>
</config>