<?xml version="1.0"?>
<config>
	<app framerate_cap="60">
		<title>Pathfinding Test</title>
		<organization>UPC</organization>
	</app>
  
	<renderer>
		<vsync value="true" />
	</renderer>
  
	<font>
		<default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12" />
	</font>

  <input>
    <controller file="4c05cc09000000000000504944564944,Sony DualShock 4,a:b1,b:b2,y:b3,x:b0,start:b9,guide:b12,back:b13,leftstick:b10,rightstick:b11,leftshoulder:b4,rightshoulder:b5,dpup:h0.1,dpleft:h0.8,dpdown:h0.4,dpright:h0.2,leftx:a0,lefty:a1,rightx:a2,righty:a5,lefttrigger:a3,righttrigger:a4,platform:Windows,"/>
  </input>
  
	<gui>
		<atlas file="gui/atlas.png" />
	</gui>
  
	<maps file="Levels.xml"/>    
  
	<animation>
		<file file="animation/LinkWalkingSprites.xml" />
		<sprite file="textures/LinkWalkingSprites.png" />
	</animation>
  
	<window>
		<resolution width="512" height="448" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
  
	<file_system>
		<path>data.zip</path>
	</file_system>
  
	<map>
		<folder>maps/</folder>
	</map>

  <inputManager>
    <!--JUMP-->
    <action  button="0" event="0" />
    
    
    <action  button="1"  event="5" />
    
    <!--Move UP-->
    <action  button="11" event="1" />

    <!--Move DOWN-->
    <action  button="12" event="2" />

    <!--Move LEFT-->
    <action  button="13" event="3" />

    <!--Move RIGHT-->
    <action  button="14" event="4" />
  </inputManager>
  
</config>
