<?xml version="1.0"?>
<config>
	<app framerate_cap="">
		<title>Pathfinding Test</title>
		<organization>UPC</organization>
	</app>
  
	<renderer>
		<vsync value="true" />
	</renderer>
  
	<font>
		<default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12" />
	</font>
  
	<gui>
		<atlas file="gui/82158.png" />
	</gui>
  
	<player>
		<atlas file="textures/LinkWalkingSprites.png" />
		<hit file="textures/hit.png" />
		<day-night file="gui/test.png" />
		<stats hp="74" attack="10" speed="1" pos_x="100" pos_y="90" />
	</player>
  
	<maps>
		<map n="1" file="TiledLinkHouse.tmx">
			<player pos_x="104" pos_y="150" />
			<items>
				<item id="1" name="bomb" type="ZELDA" attack="100" durability="1" file="gui/sf2.png" />
				<item id="2" name="bomb_2" type="ZELDA" attack="100" durability="1" file="gui/sf2.png" />
			</items>
			<enemies num="0" />
		</map>
    
		<map n="2" file="LinkHouseOutdoor.tmx">
			<player pos_x="184" pos_y="265" />
			<enemies num="18">
				<enemy id="1" pos_x="160" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
				<enemy id="1" pos_x="184" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
				<enemy id="1" pos_x="208" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
				<enemy id="1" pos_x="232" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="256" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="280" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="304" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="328" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="352" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="376" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="400" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="424" pos_y="12" hp="10" attack="10" dir="down" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="0" pos_y="396" hp="10" attack="10" dir="right" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="0" pos_y="418" hp="10" attack="10" dir="right" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="213" pos_y="496" hp="10" attack="10" dir="up" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="235" pos_y="496" hp="10" attack="10" dir="up" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="493" pos_y="410" hp="10" attack="10" dir="left" file="textures/Soldiers.png" />
        <enemy id="1" pos_x="493" pos_y="388" hp="10" attack="10" dir="left" file="textures/Soldiers.png" />
			</enemies>
			<items>
				<item id="1" name="bomb" type="ZELDA" attack="100" durability="1" file="gui/sf2.png" />
			</items>
			<dynObjects>
				<dynobject id="3" name="door_house_link" type="ZELDA" file="textures/Door_House_link.png" />
				<dynobject id="4" name="bush_plant" type="ZELDA" file="textures/Bush_plant.png" />
			</dynObjects>
			<switch blue="1" yellow="3" />
		</map>
    
    <map n="3" file="Test_Slice.tmx">
      <player pos_x="150" pos_y="100" />
    </map>
	</maps>
  
	<animation>
		<file file="animation/LinkWalkingSprites.xml" />
		<sprite file="textures/LinkWalkingSprites.png" />
	</animation>
  
	<window>
		<resolution width="512" height="448" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
  
	<file_system>
		<path>data.zip</path>
	</file_system>
  
	<map>
		<folder>maps/</folder>
	</map>

  <inputManager>
    <!--JUMP-->
    <action  button="0" event="0" />

    <!--Move UP-->
    <action  button="11" event="1" />

    <!--Move DOWN-->
    <action  button="12" event="2" />

    <!--Move LEFT-->
    <action  button="13" event="3" />

    <!--Move RIGHT-->
    <action  button="14" event="4" />

    <!--PAUSE-->
    <action  button="6"  event="5" />
  </inputManager>
  
</config>
